Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
Flask-Limiter
Flask-JWT-Extended
Flask-SocketIO
marshmallow
redis
celery
flower
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
google-genai
python-dotenv
tenacity
gunicorn
requests
psycopg2-binary
PyPDF2
eventlet
python-socketio
spacy
unicodedata2
prometheus-client
